<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>shouldShowSystemInfoButton</key>
	<true/>
	<key>shouldExitOnSuccessfulAuth</key>
	<false/>
	<key>shouldActivateSystemInfoButton</key>
	<true/>
	<key>systemInfoButtonTitle</key>
	<string>System Info</string>
	<key>loginWindowWidth</key>
	<integer>300</integer>
	<key>loginWindowHeight</key>
	<integer>300</integer>
	<key>loginWindowBackgroundImageURL</key>
	<string>https://twocanoes.com/wp-content/uploads/2022/02/twocanoes-homepage-hero.png</string>
	<key>notificationReminderTimerSeconds</key>
	<integer>60</integer>
</dict>
</plist>
