<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>shouldShowSystemInfoButton</key>
	<true/>
	<key>shouldExitOnSuccessfulAuth</key>
	<true/>
	<key>shouldActivateSystemInfoButton</key>
	<false/>
	<key>systemInfoButtonTitle</key>
	<string>System Info</string>
	<key>notificationReminderTimerSeconds</key>
	<integer>60</integer>
	<key>productKbaseURLString</key>
	<string>https://twocanoes.com/knowledge-base/xcreds-on-ipad/</string>
</dict>
</plist>
